* {
  box-sizing: border-box;
}
body {
  font: 16px Arial;
  background-color: rgb(185, 215, 221);
}
.autocomplete {
  /*the container must be positioned relative:*/
  position: relative;
  display: inline-block;
}
input {
  border: 1px solid transparent;
  background-color: #f1f1f1;
  padding: 10px;
  font-size: 16px;
}
/* input[type="text"] {
  background-color: #f1f1f1;
  width: 100%;
}
input[type="submit"] {
  background-color: DodgerBlue;
  color: #fff;
} */
.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}
.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
}
.autocomplete-items div:hover {
  /*when hovering an item:*/
  background-color: #e9e9e9;
}
.autocomplete-active {
  /*when navigating through the items using the arrow keys:*/
  background-color: DodgerBlue !important;
  color: #ffffff;
}

.hero {
  padding: 7rem 0 10rem 0;
  background: #6998ab;
  margin-bottom: 100px;
}
.hero.hero-inner {
  padding: 9rem 0 7rem 0;
  margin-bottom: auto;
  background: #1a374d;
}
.hero h1 {
  color: #ffffff;
  font-size: 60px;
}
@media (max-width: 991.98px) {
  .hero h1 {
    font-size: 45px;
  }
}
.hero h1 .typed-words {
  position: relative;
}
.hero h1 .typed-words:before {
  position: absolute;
  height: 7px;
  background-color: #51b0e0;
  bottom: 0;
  left: 0;
  right: 0;
  content: "";
}
.hero .intro-wrap {
  position: relative;
  z-index: 1;
}
.hero .slides {
  max-width: 800px;
  left: -50px;
  z-index: 0;
  position: relative;
  border-radius: 200px;
  height: 678px;
  margin-bottom: -200px;
}
@media (max-width: 991.98px) {
  .hero .slides {
    left: 0;
  }
}
.hero .slides img {
  position: absolute;
  border-radius: 200px;
  opacity: 0;
  -webkit-transition: 4s opacity ease;
  -o-transition: 4s opacity ease;
  transition: 4s opacity ease;
  background: #ffffff;
}
.hero .slides img.active {
  opacity: 1;
  z-index: 1;
}
